
.cardBuy{
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: row;
    background-color: rgb(244, 254, 255);
    
}

.card{
    margin: 5vh;
}

.itemShop{
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    color: white;
}
